.emails-editor__email-block {
  display: inline-flex;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  text-align: right;
  color: #050038;
}

.emails-editor__email-block--valid {
  border-radius: 100px;
  background-color: rgba(102, 153, 255, 0.2);
}

.emails-editor__email-block--invalid {
  border-bottom: 1px dashed #d92929;
  padding: 0;
}
